{% load bootstrap4 %}
<div class="col-3 my-3">
  <a href="{% url 'movies:detail' movie.pk %}">
    <img src="{{ movie.poster_path }}" class="img-fluid" alt="{{ movie.title }}">
  </a>
    <p class="text-center">
      {% if user in movie.like_users.all %}
        <i class="fas fa-heart fa-lg like-btn" style="color: crimson;" data-id="{{ movie.pk }}"></i>
      {% else %}
        <i class="fas fa-heart fa-lg like-btn" style="color: black;" data-id="{{ movie.pk }}"></i>
      {% endif %}
      <span id="like-count-{{ movie.pk }}">{{ movie.like_users.all|length }}</span> 명이 이 영화를 좋아합니다.
    </p>
</div>