{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block title %}MOVIE EIVOM{% endblock title %}

{% block style %}
  .carousel-video-inner {
    text-align: center;
  }
  .swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .swiper-container .swiper2 {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide .swiper2 {
      background-position: center;
      background-size: cover;
      width: 300px;
      height: auto;
  }

@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

.container-np {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.neon {
  font-family: neon;
  color: #FB4264;
  font-size: 3vw;
  line-height: 3vw;
  text-shadow: 0 0 1vw #F40A35;
}

.neon {
  animation: neon 1s ease infinite;
  -moz-animation: neon 1s ease infinite;
  -webkit-animation: neon 1s ease infinite;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
    color: #806914;
  }
}
.main_info_section {padding: 100px 0 60px;}
.main_info_icon {margin: 0 auto; width: 45px; height: 45px;}
.main_info_icon .icon_g {margin-top: 5px; width: 35px; height: 35px;;}
.main_info_title {margin: 4px 0 8px;}
.main_info_text {font-size: 14px; line-height: 1.5em;}


{% endblock style %}

{% block content %}
<!-- NOW PLAYING -->
<!-- backdrop 사용, 별도 버튼 클릭 시 예매 사이트로 이동할 것임 -->
<!-- backdrop 에는 링크가 들어갈 일이 없음 -->
<div class="alert alert-light" role="alert">
  
</div>
<div class="swiper-container swiper1">
  <div class="swiper-wrapper">
    {% for nowplay in nowplays %}
    {% if nowplay.image %}
    <!-- <div class="swiper-slide js-imgSizeSame"
      style="background:url('{{ nowplay.image }}') no-repeat; width: 500px; height: 300px; background-size: 500px 300px;"> -->
    <div class="swiper-slide">
      <div class="main-img">
        <img src="{{ nowplay.image }}" alt="{{ nowplay.title }}" style="max-width: 100%; height: auto;">
      </div>
      <div class="content" style="position: absolute; top: 60%; center;">
        <div class="container-np">
          <div class="neon">Now Showing! </div>
        </div>
        <h3 class="text-light mt-2 mb-3 font5">{{ nowplay.title }}</h3>
        <a href="https://ticket2.movie.daum.net/Movie/MovieMain.aspx?M_ID={{ nowplay.code }}#seq=2"
          class="btn btn-outline-light mb-3 font5">예매하기</a>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  <!-- Add Arrows -->
  <div class="swiper-button-next" style="color: white;"></div>
  <div class="swiper-button-prev" style="color: white;"></div>
</div>


<!-- 추천 부분 SWIPER -->
<!-- backdrop 아니고 poster 사용; 클릭하면 detail 페이지로 넘어갈 것임-->
<hr>
  <div class="text-center mt-3">
    <div id="recommend" class="swiper-container swiper2">
    <h1 class="mt-3 font5">당신을 위한 추천 영화</h1>
        <div class="swiper-wrapper swiper2">
            {% for recommend in recommends %}
            <div id="recommend" class="swiper-slide swiper2" style="width:300px; height:420px; background:
                                url('{{ recommend.poster_path }}') no-repeat; 
                    background-size: 100% 100%;"
                onclick="location.href='{% url 'movies:detail' recommend.pk %}'">
            </div>
            {% endfor %}
        </div>
    </div>
  </div>



<!-- Youtube SWIPER; navigation -->
<!-- https://awesomelon.github.io/dev/swiperjs-in-youtube/ 참조 -->
<hr>
<!-- Swiper -->
<!-- Carousel -->

<h1 class="text-center text-dark mt-5 mb-5 font5"><a class="text-dark font5" href="#myCarousel" onMouseOver="this.innerHTML='EIVOMer의 추천영화'" onMouseOut="this.innerHTML='이봄러 추천 영화'">EIVOMer이봄러 추천 영화</a></h1>
<div id="myCarousel" class="carousel slide w-75 mx-auto" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <!-- 02_carousel -->
        <div class="carousel-item active">
          <div class="embed-responsive embed-responsive-16by9">
              <iframe id="player" src="https://www.youtube.com/embed/{{ show1.code }}?rel=0&amp;enablejsapi=1&version=3&playerapiid=ytplayer" allowfullscreen></iframe>
          </div><!-- end .embed-responsive -->
        </div><!-- end .02_carousel -->
        <!-- 02_carousel -->
        <!-- 02_carousel -->
        <div class="carousel-item">
          <div class="embed-responsive embed-responsive-16by9">
              <iframe id="player" src="https://www.youtube.com/embed/{{ show2.code }}?rel=0&amp;enablejsapi=1&version=3&playerapiid=ytplayer" allowfullscreen></iframe>
          </div><!-- end .embed-responsive -->
        </div><!-- end .02_carousel -->
        <!-- 02_carousel -->
        <!-- 02_carousel -->
        <div class="carousel-item">
          <div class="embed-responsive embed-responsive-16by9">
              <iframe id="player" src="https://www.youtube.com/embed/{{ show3.code }}?rel=0&amp;enablejsapi=1&version=3&playerapiid=ytplayer" allowfullscreen></iframe>
          </div><!-- end .embed-responsive -->
        </div><!-- end .02_carousel -->
        <!-- 02_carousel -->
        <!-- 02_carousel -->
        <div class="carousel-item">
          <div class="embed-responsive embed-responsive-16by9">
              <iframe id="player" src="https://www.youtube.com/embed/{{ show4.code }}?rel=0&amp;enablejsapi=1&version=3&playerapiid=ytplayer" allowfullscreen></iframe>
          </div><!-- end .embed-responsive -->
        </div><!-- end .02_carousel -->
        <!-- 02_carousel -->

    </div><!-- end .carousel-inner -->
    <!-- Controls -->
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a><!-- end .Control -->
</div><!-- end .myCarousel -->

<div class="main_info_section">
			<div class="main_info_swiper swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="main_info_item">
							<div class="main_info_icon">
								<svg class="icon_box" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
									x="0px" y="0px" viewBox="0 0 100 100" xml:space="preserve">
									<path
										d="M99.22,30.02c-0.11-0.08-0.23-0.14-0.35-0.2L61.21,15.4c-0.35-0.13-0.74-0.13-1.09,0L1.03,37.61 c-0.62,0.25-1.02,0.85-1.01,1.53v4.1v9.52v7.63v3.68v3.92c-0.01,0.67,0.39,1.28,1.01,1.52L38.7,83.93c0.35,0.13,0.73,0.13,1.08,0 l59.09-22.21c0.62-0.25,1.02-0.85,1.02-1.52V31.35C99.89,30.83,99.64,30.32,99.22,30.02 M37.68,80.08L3.13,66.87v-2.8v-3.68v-7.63 v-9.52v-1.78l34.55,13.22V80.08z M39.25,51.82L6.09,39.14l54.58-20.48l33.15,12.68l-27.06,9.93c0,0.04-21.39,7.89-21.39,8.2 L39.25,51.82z M96.78,59.06L40.82,80.08v-25.4l7.5-2.87l20.01-7.66l28.45-10.48V59.06z">
									</path>
									<polygon points="47.77,38.25 36.93,42.37 45.61,45.74 56.55,41.55 "></polygon>
									<polygon points="60.5,40.04 83.47,31.25 74.8,27.99 51.73,36.75 "></polygon>
								</svg>
							</div>

							<p class="main_info_title font_title">
																영화정보 구독
															</p>
							<p class="main_info_text">
																최신 영화 DB 업데이트를 통해<br />추천을 해드립니다.
															</p>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="main_info_item">
							<div class="main_info_icon">
								<svg class="icon_package" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
									x="0px" y="0px" viewBox="0 0 100 100" xml:space="preserve">
									<g>
										<path
											d="M83.22,96.02h-67.9V48.29h-3.88v51.6h75.65v-51.6h-3.87V96.02z M11.44,26.14v2.68h35.15v1.2h4.84v-1.2h35.66v-2.68H11.44z">
										</path>
									</g>
									<g>
										<path
											d="M5.95,24.94v27.22h86.63V24.94H5.95z M88.7,48.29H9.82V28.82H88.7V48.29z">
										</path>
									</g>
									<g>
										<rect x="46.59" y="25.56" width="4.84" height="73.79"></rect>
									</g>
									<g>
										<rect x="11.89" y="71.24" width="74.25" height="5.17"></rect>
									</g>
									<g>
										<path
											d="M48.89,28.8c-3.8,0-6.89-2.81-6.89-6.27s3.09-6.27,6.89-6.27s6.89,2.81,6.89,6.27S52.69,28.8,48.89,28.8z M48.89,20.13 c-1.66,0-3.01,1.07-3.01,2.39s1.35,2.39,3.01,2.39s3.01-1.07,3.01-2.39C51.9,21.21,50.55,20.13,48.89,20.13z">
										</path>
									</g>
									<g>
										<path
											d="M59.93,25.4c-2.97,0-5.2-0.13-5.86-0.17l-2.73-0.18l1.08-2.52c0.32-0.75,8.03-18.5,18.02-21.86l0,0 c4.68-1.58,9.35,0.35,12.2,5.03c2.64,4.35,3.31,11.03-0.65,14.85C77.69,24.69,66.83,25.4,59.93,25.4z M57.18,21.48 c6.75,0.18,18.53-0.27,22.11-3.72c2.42-2.33,1.91-6.94,0.03-10.05c-0.9-1.48-3.45-4.78-7.65-3.37l0,0 C65.78,6.32,60.01,15.8,57.18,21.48z">
										</path>
									</g>
									<g>
										<path
											d="M37.53,25.4c-6.9,0-17.76-0.71-22.05-4.85c-3.96-3.82-3.29-10.5-0.65-14.85c2.85-4.68,7.52-6.61,12.19-5.03 c9.99,3.37,17.7,21.11,18.02,21.86l1.08,2.52l-2.73,0.18C42.73,25.27,40.5,25.4,37.53,25.4z M23.8,3.99c-3.02,0-4.9,2.48-5.65,3.72 c-1.89,3.11-2.4,7.71,0.02,10.05c3.58,3.45,15.35,3.9,22.11,3.72c-2.83-5.68-8.6-15.16-14.49-17.14C25.08,4.1,24.41,3.99,23.8,3.99 z">
										</path>
									</g>
								</svg>
							</div>
							<p class="main_info_title font_title">
																	예매를 통한 영화 선물
															</p>
							<p class="main_info_text">
																현재 상영 중인 영화를 <br> 직접 예매하거나 선물 하세요.
															</p>
						</div>
					</div>

					<div class="swiper-slide">
						<div class="main_info_item">
							<div class="main_info_icon">
								<svg class="icon_g" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31.08 31.08">
									<g id="레이어_2" data-name="레이어 2">
										<g id="Layer_1" data-name="Layer 1">
											<path
												d="M15.54,31.08A15.54,15.54,0,1,1,31.08,15.54,15.56,15.56,0,0,1,15.54,31.08Zm0-29.5a14,14,0,1,0,14,14A14,14,0,0,0,15.54,1.58Z" />
											<path d="M15.28,8.58H14.17V7.85c.78,0,1.1-.21,1.39-.75h.85v5.8H15.28Z" />
											<path d="M10.81,16.1,9.25,19.85v2H8.11v-2L6.55,16.1h1.2l.93,2.7.93-2.7Z" />
											<path d="M11.47,16.1h3.37V17H12.6v1.46h2v.85h-2v1.78h2.26v.85H11.47Z" />
											<path
												d="M16.82,16.1h1.44l1.44,5.8H18.57l-.26-1.22H16.76l-.25,1.22H15.37Zm1.31,3.75-.59-2.77-.6,2.77Z" />
											<path
												d="M20.43,16.1H22.5c1.52,0,1.72.82,1.72,1.62A1.17,1.17,0,0,1,23.06,19c.68.06,1,.43,1,1v1.25a1.06,1.06,0,0,0,.22.71H23.12a1.33,1.33,0,0,1-.18-.7V19.94c0-.47-.18-.61-.59-.61h-.79V21.9H20.43Zm1.91,2.38c.62,0,.72-.26.72-.76S23,17,22.36,17h-.8v1.52Z" />
										</g>
									</g>
								</svg>
							</div>
							<p class="main_info_title font_title">
																1년 서버보증
															</p>
							<p class="main_info_text">
																AWS의 규정상 1년간 서버가 유지됩니다.<br>사이트 유효기간은 2019-11-27로 부터 12개월입니다.
															</p>
						</div>
					</div>
				</div>
		
			</div>
		</div>

	</div>

</div>

<hr>

<script>
  var player;
  function onYouTubeIframeAPIReady() {
      player = new YT.Player('player', {
          events: {
              'onStateChange': onPlayerStateChange
          }
      });
  }

  function onPlayerReady(event) {
      event.target.playVideo();
  }

  var done = false;
  function onPlayerStateChange(event) {
      if (event.data == YT.PlayerState.PLAYING && !done) {
          $('#myCarousel').carousel('pause');
          done = true;
      }
  }

</script>
{% endblock %}
