{% extends 'base.html' %}
{% load static %}
{% block style %}
<!-- Slidebars CSS -->
<link rel="stylesheet" type="text/css" href="./css/bootstrap_170106_4.css"/>

<link rel="stylesheet" type="text/css" href="./css/font-awesome-4.5.0/css/font-awesome.css">


<link rel="stylesheet" type="text/css" href="./css/visual_180117.css"/>

<script type="text/javascript" src="./js/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="./js/jquery-migrate-1.2.1.min.js"></script>


<script src="./js/common.js"></script>
<script src="./js/wrest.js"></script>
{% endblock style %}


{% block content %}

<div class="container_sq">

  <style>
    .main_project_visual {
      position: relative;
      height: 35vh;
      overflow: hidden;
    }

    .main_project_visual video {
      top: 0;
    }

    .main_project_visual_desc_text {
      max-width: 90%;
      word-break: normal;
      line-height: 140%
    }

    @media (min-width: 1200px) {
      .new_product_left_part {
        position: relative;
        left: 50px;
      }

      .main_project_visual {
        position: relative;
        height: 80vh;
        overflow: hidden;
      }

      .main_project_visual_desc_text {
        max-width: 650px;
        word-break: normal;
        line-height: 140%
      }
    }

    .new_product_modelshot video {
      width: 100%;
      display: block;
      position: relative;
      top: 2px;
    }

    .new_product_modelshot>a {
      display: block;
      overflow: hidden;
    }

    .main_visual_text--centered {
      top: 50%;
      bottom: auto !important;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    .main_visual_text--centered .main_visual_title {
      font-weight: 500;
      margin-bottom: 1rem;
      /* text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); */
    }

    .main_visual_text--centered .main_visual_label {
      font-weight: 500;
    }

    /* 20190426 */
    .main_visual_title {
      margin: 10px 0px;
      font-size: 37px;
      font-family: "GM_C", sans-serif;
    }

    .main_visual_title span {
      font-weight: 500;
      font-size: 33px;
      vertical-align: middle;
    }

    .main_visual_title img {
      width: 600px;
      height: auto;
      display: inline-block;
    }

    .main_visual_text--black {
      color: #000;
    }

    .main_visual_text--black .btn_style_white_border {
      color: #000;
      border-color: #000;
    }

    .aw .main_image.img-loaded:after {
      content: none !important;
    }

    @media screen and (max-width: 769px) {


      /*
		.center_video_wrap {
			margin-top: 50px !important;
		}
		*/
      .carousel_item~.carousel_item {
        margin-top: 30px !important;
      }

      .main_mo_2 {
        width: 100%;
        -webkit-transform: translateY(-5%);
        -ms-transform: translateY(-5%);
        transform: translateY(-5%);
      }

      .main_pc_tablet {
        display: none !important;
      }

      .bestseller_info_inner {
        width: 80%;
        margin: 0 auto;
      }

      .main_mo_1 {
        display: block;
      }
    }

    .min-auto {
      min-height: 0 !important;
    }


    .main_pc_tablet {
      position: absolute;
      top: 50%;
      left: 50%;
      width: auto;
      height: auto;
      min-width: 100%;
      min-height: 100%;
      z-index: -100;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }

    .main_pc_1:not(.dreamvisit) {
      position: absolute;
      top: 47%;
      left: 50%;
      width: auto;
      height: auto;
      min-width: 100%;
      min-height: calc(100% + 30px);
      z-index: -100;
      background-size: cover;
      -webkit-transform: translate(-50%, -50%) !important;
      -ms-transform: translate(-50%, -50%) !important;
      transform: translate(-50%, -50%) !important;
    }

    .main_section+.main_section {
      margin-top: 126px;
      padding-top: 74px;
    }

    @media screen and (max-width: 1025px) {
      /*
		.main_pc_tablet {
			height: 100%;
			transform: translate(-50%, -50%) ;
		}
		*/

      .main_section+.main_section {
        margin-top: 50px;
        padding-top: 50px;
      }

      .main_mo_1 {
        display: block !important;
        width: 100%;
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        position: relative;
        top: -1.5rem;
      }

      .main_pc_1 {
        display: none !important;
      }

    }

    .main_mo_1 {
      display: none;
    }

    .btn_style_white_border {
      margin-right: 1rem;
    }

    .main_visual_btn .btn_style_white_border {
      width: 140px;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    .main_visual_btn .btn_style_white_border:last-child {
      margin-right: 0;
    }

    @media screen and (max-width: 414px) {
      .center_video_wrap {
        margin-top: 50px !important;
      }

      /* 20190426 */
      .main_visual_title img {
        width: 320px;
      }

      .main_visual_title,
      .main_visual_title span {
        font-size: 21px;
      }

      .main_visual_title strong {
        position: relative;
        top: 1px;
      }

      .main_visual_label {
        width: 74%;
        margin: 0 auto;
      }

      .main_visual_label br {
        display: none;
      }

      .stories_review_item:first-child .stories_review_desc {
        padding: 0 60px;
      }

    }

    @media screen and (max-width: 370px) {
      .center_video_wrap {
        margin-top: 0 !important;
      }
    }

    @media screen and (max-width: 370px) {
      .center_video_wrap {
        margin-top: 0 !important;
        position: relative;
        top: -10px;
      }

    }

    #video_wrap .main_visual_btn .btn_style_white_border {
      padding: 10px 0;
      width: 157px;
      text-align: center;
    }

    @media screen and (max-width: 769px) {
      .collabo-logo {
        width: 85%;
      }

      .main_btn .btn_style_white_border {
        padding: 7px 25px;
      }

      .main_section_title {
        padding: 0 0px 25px 10px;
      }

      /* .btn_style_white_border {
			margin-right: 0;
			margin-bottom: 1rem;
		} */


      #video_wrap .main_visual_btn .btn_style_white_border {
        padding: 7px 0;
        width: 100px;
        text-align: center;
      }
    }





    @media screen and (min-width: 770px) {
      .main_mo_2 {
        display: none !important;
      }

    }

    .new_product_swiper1 .new_product_modelshot img {
      padding-top: 20px;
    }

    .dreamvisit.main_mo_1 {
      min-height: 450px;
    }

    .dreamvisit-visual {
      min-height: 450px;
      width: 100%;
    }

    .dreamvisit {
      position: absolute;
      top: auto;
      left: 50%;
      width: auto;
      height: auto;
      min-width: 100%;
      min-height: 100%;
      z-index: -100;
      background-size: cover;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      bottom: 0;
    }

    .dreamvisit.main_mo_1 {
      width: 100%;
    }

    .icon_package {
      width: 83%;
      margin: 0 auto;
    }

    .main_image-wrap {
      position: relative;
      width: 100%;
      min-height: 600px;
      height: calc(100vh - 250px);
      overflow: hidden;
      /* background: #000; */
      border-radius: 8px 8px;
    }



    .main_image-wrap--light {
      background: #fff;
    }


    .main_image {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 100%;
      height: 100%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      border-radius: inherit;
      opacity: 0;
      overflow: hidden;
    }

    .main_image.img-loaded:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 40%;
      width: 100%;
      background: transparent;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.3)));
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
      background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    }

    .main_image--bottom.img-loaded,
    .main_image:not(.story_main_image--bottom).img-loaded {
      -webkit-transition: opacity .5s ease-in-out;
      -o-transition: opacity .5s ease-in-out;
      transition: opacity .5s ease-in-out;
    }

    .main_image--bottom.img-loaded {
      background: #fff;
      opacity: 1;
    }

    .main_image:not(.story_main_image--bottom).img-loaded {
      will-change: opacity;
      opacity: 0.95;
    }


    .main_image__img {
      position: relative;
      left: 50%;
      top: calc(50% + 1px);
      width: 100%;
      height: 100%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      border-radius: inherit;
    }

    @media screen and (max-width: 767px) {
      .main_image-wrap {
        min-height: 0;
        max-height: 470px;
      }
    }

    @media screen and (max-width: 767px) {

      .main_visual_label {
        position: relative;
        top: 2px;
        font-size: 13px;
      }

      .main_visual_label,
      .main_visual_title {
        position: relative;
        z-index: 2;
      }


      .new_product_swiper1 .new_product_modelshot img {
        padding-top: 0;
      }
    }

    .btn_style_white_border {
      cursor: pointer;
    }
  </style>
  <script>
    function clickStop(e) {
      e.stoppropagation();
    }
  </script>

  <div class="main_wrap kr">
    <div class="main_sections">
      <div style="position: relative;">
        <div class="main_image-wrap">
          <div class="main_image">
            <img class="main_image__img" src="https://www.gentlemonster.com/img/main-191104/BANNER_01_PC.jpg"
              data-pc-src="https://www.gentlemonster.com/img/main-191104/BANNER_01_PC.jpg"
              data-mobile-src="https://www.gentlemonster.com/img/main-191104/BANNER_01_MO_final.jpg"> />
          </div>
          <div class="main_visual_text">
            <div class="main_visual_title">
              <span>현재 상영중인 영화 </span>
            </div>
            <div class="main_visual_label">
              오늘은 이 영화 어떠신가요?
            </div>
            <div class="main_btn main_visual_btn">

              <a class="btn_style_white_border" href="https://www.gentlemonster.com/stories/gentlemonster2020/"
                onclick="clickStop">
                자세히 보기
              </a>
            </div>
          </div>
        </div>
        <div class="main_section_symbol">
          <img src="https://www.gentlemonster.com/img/19/symbol.gif" alt="" />
        </div>
      </div>

      <div class="main_section product_review_section">
        <p class="main_section_title font_title">
          2020 뉴 플랫바 시리즈를 만나보세요
        </p>
        <div class="carousel_items">
          <div class="carousel_item">
            <div class="new_product_swiper new_product_swiper1 swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="new_product_item">
                    <div class="new_product_item_inner">
                      <div class="new_product_part new_product_left_part">
                        <div class="new_product_part_text">
                          <p class="new_product_name font_title">
                            마이 마 01 </p>
                          <p class="new_product_desc">
                            부드러운 곡선의 사각 안구가 특징인 스퀘어 형태의 플랫바 선글라스 </p>
                          <div class="main_btn" onclick="clickStop">
                            <a class="btn_style_black_border"
                              href="https://www.gentlemonster.com/shop/ver1_detail.php?it_id=1572395402">
                              쇼핑하기 </a>
                          </div>
                        </div>
                      </div>
                      <div class="new_product_part new_product_right_part" onclick="clickStop">
                        <div class="new_product_modelshot">
                          <a href="https://www.gentlemonster.com/shop/ver1_detail.php?it_id=1572395402"><img
                              src="https://www.gentlemonster.com/img/main-191104/FLATBA_SERIES/flatba-series_01_myma01.jpg"
                              alt="" /></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="new_product_item">
                    <div class="new_product_item_inner">
                      <div class="new_product_part new_product_left_part">
                        <div class="new_product_part_text">
                          <p class="new_product_name font_title">
                            허 01 </p>
                          <p class="new_product_desc">
                            안구 양쪽이 자연스럽게 올라간 디자인의 오버사이즈 플랫바 선글라스 </p>
                          <div class="main_btn" onclick="clickStop">
                            <a class="btn_style_black_border"
                              href="https://www.gentlemonster.com/shop/ver1_detail.php?it_id=1572394578">
                              쇼핑하기 </a>
                          </div>
                        </div>
                      </div>
                      <div class="new_product_part new_product_right_part" onclick="clickStop">
                        <div class="new_product_modelshot">
                          <a href="https://www.gentlemonster.com/shop/ver1_detail.php?it_id=1572394578"><img
                              src="https://www.gentlemonster.com/img/main-191104/FLATBA_SERIES/flatba-series_03_her01_final.jpg"
                              alt="" /></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="new_product_item">
                    <div class="new_product_item_inner">
                      <div class="new_product_part new_product_left_part">
                        <div class="new_product_part_text">
                          <p class="new_product_name font_title">
                            랭 01 </p>
                          <p class="new_product_desc">
                            세로 폭이 짧고 곡선이 강조된 라운드 형태의 플랫바 선글라스 </p>
                          <div class="main_btn" onclick="clickStop">
                            <a class="btn_style_black_border"
                              href="https://www.gentlemonster.com/shop/ver1_detail.php?it_id=1572394839">
                              쇼핑하기 </a>
                          </div>
                        </div>
                      </div>
                      <div class="new_product_part new_product_right_part" onclick="clickStop">
                        <div class="new_product_modelshot">
                          <a href="https://www.gentlemonster.com/shop/ver1_detail.php?it_id=1572394839"><img
                              src="https://www.gentlemonster.com/img/main-191104/FLATBA_SERIES/flatba-series_04_lang01.jpg"
                              alt="" /></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="new_product_item">
                    <div class="new_product_item_inner">
                      <div class="new_product_part new_product_left_part">
                        <div class="new_product_part_text">
                          <p class="new_product_name font_title">
                            솔로 01 </p>
                          <p class="new_product_desc">
                            오버사이즈 둥근 안구의 볼륨감이 특징인 라운드 형태의 플랫바 선글라스 </p>
                          <div class="main_btn" onclick="clickStop">
                            <a class="btn_style_black_border"
                              href="https://www.gentlemonster.com/shop/ver1_detail.php?it_id=1572395603">
                              쇼핑하기 </a>
                          </div>
                        </div>
                      </div>
                      <div class="new_product_part new_product_right_part" onclick="clickStop">
                        <div class="new_product_modelshot">
                          <a href="https://www.gentlemonster.com/shop/ver1_detail.php?it_id=1572395603"><img
                              src="https://www.gentlemonster.com/img/main-191104/FLATBA_SERIES/flatba-series_05_solo01.jpg"
                              alt="" /></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="new_product_item">
                    <div class="new_product_item_inner">
                      <div class="new_product_part new_product_left_part">
                        <div class="new_product_part_text">
                          <p class="new_product_name font_title">
                            드리머 17 01 </p>
                          <p class="new_product_desc">
                            곡선과 직선이 대담하게 어우러진 스퀘어 형태의 플랫바 선글라스 </p>
                          <div class="main_btn" onclick="clickStop">
                            <a class="btn_style_black_border"
                              href="https://www.gentlemonster.com/shop/ver1_detail.php?it_id=1572393878">
                              쇼핑하기 </a>
                          </div>
                        </div>
                      </div>
                      <div class="new_product_part new_product_right_part" onclick="clickStop">
                        <div class="new_product_modelshot">
                          <a href="https://www.gentlemonster.com/shop/ver1_detail.php?it_id=1572393878"><img
                              src="https://www.gentlemonster.com/img/main-191104/FLATBA_SERIES/flatba-series_06_dreamer17.jpg"
                              alt="" /></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="main_swiper_pagination swiper-pagination"></div>
              <div class="main_swiper_btn swiper-button-next">
                <svg xmlns="http://www.w3.org/2000/svg">
                  <path d="M.798 6.78h17.24l-2.354 3.945.464.531 6.498-5.405-6.498-5.37-.464.53 2.354 3.912H.798z">
                  </path>
                </svg>

              </div>
              <div class="main_swiper_btn swiper-button-prev">
                <svg xmlns="http://www.w3.org/2000/svg">
                  <path d="M22.202 5.22H4.962l2.354-3.945-.464-.531L.354 6.149l6.498 5.37.464-.53-2.354-3.912h17.24z">
                  </path>
                </svg>
              </div>

            </div>
          </div>

        </div>

      </div>

      <div class="main_image-wrap main_section main_visual_section center_video_wrap"
        onclick="location.href='https://www.gentlemonster.com/stories/gentlemonster2020/'">
        <div class="main_image">
          <img class="main_image__img" src="https://www.gentlemonster.com/img/main-191104/BANNER_02_PC.jpg"
            data-pc-src="https://www.gentlemonster.com/img/main-191104/BANNER_02_PC.jpg"
            data-mobile-src="https://www.gentlemonster.com/img/main-191104/BANNER_02_MO.jpg"> />
        </div>

        <div class="main_visual_text">
          <div class="main_visual_title">
            2020 <span>티-옵티컬 시리즈</span>
          </div>
          <div class="main_visual_label">
            풀 ‘티타늄(Titanium)’ 소재로 제작된 젠틀몬스터의 새로운 안경 시리즈
          </div>
          <div class="main_btn main_visual_btn">
            <a href="https://www.gentlemonster.com/shop/ver1_list.php?ca_id=i0" class="btn_style_white_border">
              안경 구매하기
            </a>
            <a href="https://www.gentlemonster.com/stories/gentlemonster2020/" class="btn_style_white_border">
              자세히 보기
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="main_section product_review_section">
      <div class="carousel_items">
        <div class="carousel_item">
          <div class="new_product_swiper new_product_swiper2 swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="new_product_item">
                  <div class="new_product_item_inner">
                    <div class="new_product_part new_product_left_part">
                      <div class="new_product_modelshot">
                        <a href="https://www.gentlemonster.com/shop/ver1_detail.php?it_id=1572400464"
                          onclick="clickStop"><img class="swiper-lazy"
                            src="https://www.gentlemonster.com/img/main-191104/TOPTICAL_SERIES/TOPTICAL-series_01_HAVANAB4.jpg"
                            alt="" /></a>
                      </div>
                    </div>
                    <div class="new_product_part new_product_right_part">
                      <div class="new_product_part_text">
                        <div class="new_product_img">
                          <a href="https://www.gentlemonster.com/shop/ver1_detail.php?it_id=1572400464"
                            onclick="clickStop"><img class="swiper-lazy"
                              src="https://www.gentlemonster.com/img/main-191104/TOPTICAL_SERIES/product/TOPTICAL-series_01_HAVANAB4.jpg"
                              alt="" /></a>
                        </div>
                        <p class="new_product_name font_title">하바나 B4</p>
                        <p class="new_product_desc">메탈림을 감싸고 있는 안구 윗쪽의 아세테이트가 특징인 하금테 프레임</p>
                        <div class="main_btn">
                          <a class="btn_style_black_border"
                            href="https://www.gentlemonster.com/shop/ver1_detail.php?it_id=1572400464"
                            onclick="clickStop">
                            쇼핑하기 </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="new_product_item">
                  <div class="new_product_item_inner">
                    <div class="new_product_part new_product_left_part">
                      <div class="new_product_modelshot">
                        <a href="https://www.gentlemonster.com/shop/ver1_detail.php?it_id=1572401712"
                          onclick="clickStop"><img class="swiper-lazy"
                            src="https://www.gentlemonster.com/img/main-191104/TOPTICAL_SERIES/TOPTICAL-series_02_TOM21A02_final.jpg"
                            alt="" /></a>
                      </div>
                    </div>
                    <div class="new_product_part new_product_right_part">
                      <div class="new_product_part_text">
                        <div class="new_product_img">
                          <a href="https://www.gentlemonster.com/shop/ver1_detail.php?it_id=1572401712"
                            onclick="clickStop"><img class="swiper-lazy"
                              src="https://www.gentlemonster.com/img/main-191104/TOPTICAL_SERIES/product/TOPTICAL-series_02_TOM21A02.jpg"
                              alt="" /></a>
                        </div>
                        <p class="new_product_name font_title">톰 21 A02</p>
                        <p class="new_product_desc">클래식한 라운드 형태의 안구와 템플의 인그레이빙 디테일이 특징인 티타늄 프레임 안경</p>
                        <div class="main_btn">
                          <a class="btn_style_black_border"
                            href="https://www.gentlemonster.com/shop/ver1_detail.php?it_id=1572401712"
                            onclick="clickStop">
                            쇼핑하기 </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="new_product_item">
                  <div class="new_product_item_inner">
                    <div class="new_product_part new_product_left_part">
                      <div class="new_product_modelshot">
                        <a href="https://www.gentlemonster.com/shop/ver1_detail.php?it_id=1572396236"
                          onclick="clickStop"><img class="swiper-lazy"
                            src="https://www.gentlemonster.com/img/main-191104/TOPTICAL_SERIES/TOPTICAL-series_03_GATTA001.jpg"
                            alt="" /></a>
                      </div>
                    </div>
                    <div class="new_product_part new_product_right_part">
                      <div class="new_product_part_text">
                        <div class="new_product_img">
                          <a href="https://www.gentlemonster.com/shop/ver1_detail.php?it_id=1572396236"
                            onclick="clickStop"><img class="swiper-lazy"
                              src="https://www.gentlemonster.com/img/main-191104/TOPTICAL_SERIES/product/TOPTICAL-series_03_GATTA01.jpg"
                              alt="" /></a>
                        </div>
                        <p class="new_product_name font_title">가타 01</p>
                        <p class="new_product_desc">하금테 프레임을 재치있게 재해석한 티타늄 콤비 프레임 안경</p>
                        <div class="main_btn">
                          <a class="btn_style_black_border"
                            href="https://www.gentlemonster.com/shop/ver1_detail.php?it_id=1572396236"
                            onclick="clickStop">
                            쇼핑하기 </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="new_product_item">
                  <div class="new_product_item_inner">
                    <div class="new_product_part new_product_left_part">
                      <div class="new_product_modelshot">
                        <a href="https://www.gentlemonster.com/shop/ver1_detail.php?it_id=1572400735"
                          onclick="clickStop"><img class="swiper-lazy"
                            src="https://www.gentlemonster.com/img/main-191104/TOPTICAL_SERIES/TOPTICAL-series_04_WESTCOAST01.jpg"
                            alt="" /></a>
                      </div>
                    </div>
                    <div class="new_product_part new_product_right_part">
                      <div class="new_product_part_text">
                        <div class="new_product_img">
                          <a href="https://www.gentlemonster.com/shop/ver1_detail.php?it_id=1572400735"
                            onclick="clickStop"><img class="swiper-lazy"
                              src="https://www.gentlemonster.com/img/main-191104/TOPTICAL_SERIES/product/TOPTICAL-series_04_WESTCOAST01.jpg"
                              alt="" /></a>
                        </div>
                        <p class="new_product_name font_title">웨스트 코스트 01</p>
                        <p class="new_product_desc">스퀘어 형태의 아세테이트 티타늄 콤비 프레임 안경</p>
                        <div class="main_btn">
                          <a class="btn_style_black_border"
                            href="https://www.gentlemonster.com/shop/ver1_detail.php?it_id=1572400735"
                            onclick="clickStop">
                            쇼핑하기 </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="new_product_item">
                  <div class="new_product_item_inner">
                    <div class="new_product_part new_product_left_part">
                      <div class="new_product_modelshot">
                        <a href="https://www.gentlemonster.com/shop/ver1_detail.php?it_id=1572402174"
                          onclick="clickStop"><img class="swiper-lazy"
                            src="https://www.gentlemonster.com/img/main-191104/TOPTICAL_SERIES/TOPTICAL-series_05_TOM22A02_final.jpg"
                            alt="" /></a>
                      </div>
                    </div>
                    <div class="new_product_part new_product_right_part">
                      <div class="new_product_part_text">
                        <div class="new_product_img">
                          <a href="https://www.gentlemonster.com/shop/ver1_detail.php?it_id=1572402174"
                            onclick="clickStop"><img class="swiper-lazy"
                              src="https://www.gentlemonster.com/img/main-191104/TOPTICAL_SERIES/product/TOPTICAL-series_05_TOM22A02.jpg"
                              alt="" /></a>
                        </div>
                        <p class="new_product_name font_title">톰 22 A02</p>
                        <p class="new_product_desc">부드러운 곡선의 사각 안구가 특징인 티타늄 프레임 안경</p>
                        <div class="main_btn">
                          <a class="btn_style_black_border"
                            href="https://www.gentlemonster.com/shop/ver1_detail.php?it_id=1572402174"
                            onclick="clickStop">
                            쇼핑하기 </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="main_swiper_pagination swiper-pagination"></div>
            <div class="main_swiper_btn swiper-button-next">
              <svg xmlns="http://www.w3.org/2000/svg">
                <path d="M.798 6.78h17.24l-2.354 3.945.464.531 6.498-5.405-6.498-5.37-.464.53 2.354 3.912H.798z">
                </path>
              </svg>

            </div>
            <div class="main_swiper_btn swiper-button-prev">
              <svg xmlns="http://www.w3.org/2000/svg">
                <path d="M22.202 5.22H4.962l2.354-3.945-.464-.531L.354 6.149l6.498 5.37.464-.53-2.354-3.912h17.24z">
                </path>
              </svg>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div id="bestseller-collection" class="main_section best_seller_review_section">
      <p class="main_section_title font_title">
        베스트셀러 컬렉션
      </p>
      <div class="carousel_items">
        <div class="carousel_item">
          <div class="bestseller_swiper swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a class="bestseller_item" href="https://www.gentlemonster.com/shop/ver1_detail.php?it_id=1572395402">
                  <div class="bestseller_img">
                    <img src="https://www.gentlemonster.com/img/main-191104/best_update/01_MYMA_01.jpg" alt="" />
                  </div>
                  <div class="bestseller_info">
                    <div class="bestseller_info_inner">
                      <p class="bestseller_name font_title">
                        마이 마 01 </p>
                      <p class="bestseller_desc">
                        부드러운 곡선의 사각 안구가 특징인 스퀘어 형태의 플랫바 선글라스 </p>
                      <p class="bestseller_btn">
                        쇼핑하기
                      </p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a class="bestseller_item" href="https://www.gentlemonster.com/shop/ver1_detail.php?it_id=1528953787">
                  <div class="bestseller_img">
                    <img src="https://www.gentlemonster.com/img/main-191104/best_update/02_ALIO_C1.jpg" alt="" />
                  </div>
                  <div class="bestseller_info">
                    <div class="bestseller_info_inner">
                      <p class="bestseller_name font_title">
                        알리오 C1 </p>
                      <p class="bestseller_desc">
                        슬림하고 가벼운 하금테 프레임 안경 </p>
                      <p class="bestseller_btn">
                        쇼핑하기
                      </p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a class="bestseller_item" href="https://www.gentlemonster.com/shop/ver1_detail.php?it_id=1572395603">
                  <div class="bestseller_img">
                    <img src="https://www.gentlemonster.com/img/main-191104/best_update/03_solo_01.jpg" alt="" />
                  </div>
                  <div class="bestseller_info">
                    <div class="bestseller_info_inner">
                      <p class="bestseller_name font_title">
                        솔로 01 </p>
                      <p class="bestseller_desc">
                        오버사이즈 둥근 안구의 볼륨감이 특징인 라운드 형태의 플랫바 선글라스 </p>
                      <p class="bestseller_btn">
                        쇼핑하기
                      </p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a class="bestseller_item" href="https://www.gentlemonster.com/shop/ver1_detail.php?it_id=1540371434">
                  <div class="bestseller_img">
                    <img src="https://www.gentlemonster.com/img/main-191104/best_update/04_JACKBYE_01.jpg" alt="" />
                  </div>
                  <div class="bestseller_info">
                    <div class="bestseller_info_inner">
                      <p class="bestseller_name font_title">
                        잭바이 01 </p>
                      <p class="bestseller_desc">
                        다양한 얼굴형에 어울리는 오버사이즈 사각형 플랫바 프레임의 아세테이트 선글라스 </p>
                      <p class="bestseller_btn">
                        쇼핑하기
                      </p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a class="bestseller_item" href="https://www.gentlemonster.com/shop/ver1_detail.php?it_id=1572393878">
                  <div class="bestseller_img">
                    <img src="https://www.gentlemonster.com/img/main-191104/best_update/05_DREAMER17_01.jpg" alt="" />
                  </div>
                  <div class="bestseller_info">
                    <div class="bestseller_info_inner">
                      <p class="bestseller_name font_title">
                        드리머 17 01 </p>
                      <p class="bestseller_desc">
                        곡선과 직선이 대담하게 어우러진 스퀘어 형태의 플랫바 선글라스 </p>
                      <p class="bestseller_btn">
                        쇼핑하기
                      </p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a class="bestseller_item" href="https://www.gentlemonster.com/shop/ver1_detail.php?it_id=1515116887">
                  <div class="bestseller_img">
                    <img src="https://www.gentlemonster.com/img/main-191104/best_update/06_MERLYNN_01.jpg" alt="" />
                  </div>
                  <div class="bestseller_info">
                    <div class="bestseller_info_inner">
                      <p class="bestseller_name font_title">
                        멀린 01 </p>
                      <p class="bestseller_desc">
                        플랫바 디자인의 오버사이즈 선글라스 </p>
                      <p class="bestseller_btn">
                        쇼핑하기
                      </p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a class="bestseller_item" href="https://www.gentlemonster.com/shop/ver1_detail.php?it_id=1442489593">
                  <div class="bestseller_img">
                    <img src="https://www.gentlemonster.com/img/main-191104/best_update/07_SOUTHSIDE_01.jpg" alt="" />
                  </div>
                  <div class="bestseller_info">
                    <div class="bestseller_info_inner">
                      <p class="bestseller_name font_title">
                        사우스사이드 01 </p>
                      <p class="bestseller_desc">
                        메탈 스터드가 특징인 아세테이트 스퀘어 프레임 안경 </p>
                      <p class="bestseller_btn">
                        쇼핑하기
                      </p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a class="bestseller_item" href="https://www.gentlemonster.com/shop/ver1_detail.php?it_id=1529405922">
                  <div class="bestseller_img">
                    <img src="https://www.gentlemonster.com/img/main-191104/best_update/08_MAMARS_01.jpg" alt="" />
                  </div>
                  <div class="bestseller_info">
                    <div class="bestseller_info_inner">
                      <p class="bestseller_name font_title">
                        마마스 01 </p>
                      <p class="bestseller_desc">
                        클래식한 FLATBA 디자인의 블랙 아세테이트 프레임 </p>
                      <p class="bestseller_btn">
                        쇼핑하기
                      </p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="main_swiper_pagination swiper-pagination"></div>
            <div class="main_swiper_btn swiper-button-next">
              <svg xmlns="http://www.w3.org/2000/svg">
                <path d="M.798 6.78h17.24l-2.354 3.945.464.531 6.498-5.405-6.498-5.37-.464.53 2.354 3.912H.798z">
                </path>
              </svg>
            </div>
            <div class="main_swiper_btn swiper-button-prev">
              <svg xmlns="http://www.w3.org/2000/svg">
                <path d="M22.202 5.22H4.962l2.354-3.945-.464-.531L.354 6.149l6.498 5.37.464-.53-2.354-3.912h17.24z">
                </path>
              </svg>
            </div>
          </div>
        </div>
      </div>

      {% endblock  %}
