container_commands:
  01_migrate:
    command: "python manage.py migrate"
    leader_only: true
  02_chown_sqlitedb:
    command: "sudo chown wsgi db.sqlite3"
    leader_only: true
  03_seed:
    command: "python manage.py loaddata movies/fixtures/movies/genres.json"
    leader_only: true
  04_seed:
    command: "python manage.py loaddata movies/fixtures/movies/movies.json"
    leader_only: true
  05_seed:
    command: "python manage.py loaddata accounts/fixtures/users.json"
    leader_only: true
  06_seed:
    command: "python manage.py loaddata accounts/fixtures/socialapp.json"
    leader_only: true
  07_collectstatic:
    command: "python manage.py collectstatic"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: final_project.settings.production
