{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<div class="container">
    {% if request.resolver_match.url_name == 'signup' %}
    <h1 class='text-center font1'>Sign Up</h1>
    {% elif request.resolver_match.url_name == 'update' %}
    <h1 class='text-center font1'>Update</h1>
    {% endif %}
    <hr>


    <form action="" method="POST">
        {% csrf_token %}
        {% bootstrap_form form layout="horizontal" %}
        {% if request.resolver_match.url_name == 'signup' %}
        <button class="btn btn-light font5" type="submit" name="action" style="width: 100%; margin-top: 30px;">가입하기
        </button>
        {% elif request.resolver_match.url_name == 'update' %}
        <button class="btn btn-light font5" type="submit" name="action" style="width: 100%; margin-top: 30px;">수정하기
        </button>
        {% endif %}
        
    </form>
</div>

{% endblock %}
