{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

<H1 class='text-center'>Update</H1>
<hr>

<div class="parent-signup">
    <div class="child-signup">
        <form method="POST" id="signupform">
            {% csrf_token %}
            {% bootstrap_form signup_form %}
            {% bootstrap_form profile_form %}
            <button class="btn btn-light" type="submit" name="action" style="width: 100%; margin-top: 30px;">수정하기
            </button>
        </form>
    </div>
</div>

{% endblock %}
