{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top font3 ">
  {% if user.is_superuser %}
  <!-- 관리자 -->
  <a class="navbar-brand mt-2" href="{% url 'movies:main' %}">
  <img style="height=35px; width:35px;" class="mr-1" src="{% static 'accounts/images/logo.png' %}" alt="logo">
  </a>
  <h4 class="d-inline mt-3 ">| 관리자</h4>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav font5">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:logout' %}">로그아웃</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'movies:create' %}">영화 정보 생성</a>
      </li>
    </ul>
    <i class="fas fa-search ml-2 mr-4" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"></i>
    <div class="collapse" id="collapseExample">
  
      <form class="form-inline" action="{% url 'movies:search' %}" method="GET">
        <input name="search" class="form-control mr-sm-2" type="search" placeholder="검색어 입력" aria-label="Search">
        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">검색</button>
      </form>
      
    </div>
  </div>

  {% elif user.is_authenticated %}
  <!-- 로그인 한 일반 사용자 -->

  <a class="navbar-brand font3 mt-2" href="{% url 'movies:main' %}"><img style="height=30px; width:30px;" src="{% static 'accounts/images/logo.png' %}" alt="logo">
  </a>
  <h4 class="d-inline mt-3 ">MOVIE EIVOM | {{ user.nickname }}</h4>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav font5">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:logout' %}">로그아웃</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:detail' user.pk %}">내 프로필</a>
      </li>     
    </ul>
    <i class="fas fa-search ml-2 mr-4" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"></i>
    <div class="collapse" id="collapseExample">
  
      <form class="form-inline" action="{% url 'movies:search' %}" method="GET">
        <input name="search" class="form-control mr-sm-2" type="search" placeholder="검색어 입력" aria-label="Search">
        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">검색</button>
      </form>
      
    </div>
  </div>

  {% else %}
  <!-- 로그인하지 않은 사용자 -->
  <a class="navbar-brand font3 mt-2" href="{% url 'movies:main' %}">
  <img style="height=30px; width:30px;" src="{% static 'accounts/images/logo.png' %}" alt="logo">  
  </a>
  <h4 class="d-inline mt-3 ">MOVIE EIVOM | 로그인 후 사용해 주세요.</h4>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:login' %}">로그인</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:signup' %}">회원가입</a>
      </li>
    </ul>
  </div>
  {% endif %}
</nav>
