<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  {% if user.is_superuser %}
  <!-- 관리자 -->
  <a class="navbar-brand" href="{% url 'movies:index' %}">
    관리자 입니다.
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'movies:create' %}">영화 정보 생성</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:logout' %}">로그아웃</a>
      </li>
    </ul>
  </div>

  {% elif user.is_authenticated %}
  <!-- 로그인 한 일반 사용자 -->
  <a class="navbar-brand" href="{% url 'movies:index' %}">
    Movie Monster {{ user.username }}
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:profile' user.username %}">내 프로필</a>
      </li>
      <!--
      <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:update' %}">정보수정</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:change_password' %}">비밀번호 변경</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:logout' %}">로그아웃</a>
      </li>
      <li class="nav-item">
        <form action="{% url 'accounts:delete' %}" method="POST" style="display: inline">
          {% csrf_token %}
          <input class="btn btn-danger" type="submit" value="회원탈퇴">
        </form>
      </li>
    </ul>
  </div>

  {% else %}
  <!-- 로그인하지 않은 사용자 -->
  <a class="navbar-brand" href="{% url 'movies:index' %}">
    Hello! STRANGER!
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:login' %}">로그인</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:signup' %}">회원가입</a>
      </li>
    </ul>
  </div>
  {% endif %}
</nav>

